{% extends "base.html.twig" %}

{% block body %}

    <br>

    <div class="flex">
        <div class="w-1/5  h-12"></div>
        <div class="w-3/5  h-12">
            <p>
                <i class="fas fa-temperature-low"></i>
                {{ (first|round(1))|number_format(1, '.', ',') }}
            </p>
            <p>
                <i class="fas fa-temperature-low"></i>
                {{ (second|round(1))|number_format(1, '.', ',') }}

            </p>
        </div>
        <div class="w-1/5 h-12"></div>
    </div>

{% endblock %}
